<div class="container" data-ng-controller="ConfirmTicketController">
<h3 style="text-align:center;">Your Final Ticket</h3>
	<div class="table-responsive">
		<table class="table table-striped" style="align:center;">
			<tbody>
				<tr>
					<th>Movie :</th>
					<td>{{ final_movie }}</td>
				</tr>
				<tr>
					<th>Theatre :</th>
					<td>{{ final_theatre }}</td>
				</tr>
				<tr>
					<th>Show :</th>
					<td>{{ final_show }}</td>
				</tr>
				<tr>
					<th>Date :</th>
					<td>{{ final_date }}</td>
				</tr>
				<tr>
					<th>Selected Seats :</th>
					<td>{{ final_seats }}</td>
				</tr>
				<tr>
					<th>Total Price :</th>
					<td>{{ final_price }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>